@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
:root{
    --main-color: #151515;
    --sec-color: #222222;
    --accent-color: #FF650D;
    --text-color: #fff;
}
img{
    display: flex;
    width: 100%;
}
a{
    text-decoration: none;
}
.navigation{
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 0.5rem;
    display: flex;
    background-color: var(--sec-color);
}
.navigation .head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}
.navigation .head h1{
    box-sizing: border-box;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.navigation .head i{
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.2s ease-in;
}
.navigation .head i:hover{
    transform: scale(1.2);
}
.navigation .links{
    background-color: var(--sec-color);
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    top: 60px;
    left: 0;
    transform: translateY(-100%);
    box-sizing: border-box;
    padding: 0.8rem 0;
    z-index: -1;
    gap: 1rem;
    transition: 0.5s ease-out;
    opacity: 0;
}
.navigation .links a{
    color: var(--text-color);
    transition: 0.2s ease;
}
.navigation .links a:hover{
    color: var(--accent-color);
}
.navigation .links.show{
    transform: translateY(0);
    opacity: 1;
}
.navigation .links .hide{
    transform: translateY(-100%);
}

main{
    width: 100%;
    box-sizing: border-box;
    padding: 0.8rem;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
main .hero{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--sec-color);
    border-radius: 2rem;
    overflow: hidden;
}
.hero .text-section{
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    color: var(--text-color);
}

.maintext {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
}

.typed-text {
  display: inline-block;
  color: var(--accent-color);
  transition: all 0.2s ease;  
  letter-spacing: 0.5px;
}

.cursor {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
  color: var(--accent-color);
  animation: blink 0.8s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
.toptext{
  width: 100%;
  padding-bottom: 1rem;
}
.text-section .toptext span{
  font-size: 0.7rem;
  margin-right: 0.7rem;
  letter-spacing: 0.3rem;
  font-weight: 500;
}
.maintext{
  height: 35%;
  width: 100%;
  font-size: 2.8rem;
}
.maintext .name{
  color: var(--redaccent);
}
.bottomtext{
  height: 20%;
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  padding-top: 1rem;
}
.connect{
  margin-top: 1rem;
  width: 100%;  
  display: flex;
  flex-direction: column;
}
.tagline{
  height: 30%;
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: var(--accent-color);
  font-weight: 500;
}
.buttons{
    margin-top: 1.2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.buttons button, .download{
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
    transition: 0.2s ease;
}
.buttons .contact{
    background-color: transparent;
    color: var(--accent-color);
    border: 2px solid transparent;
}
.buttons .contact:hover{
    border-color: var(--accent-color);
}
.buttons .download:hover{
    background-color: #d05006;
}
.hero .picture-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;

}

.supporting-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-section img{
    border-radius: 100%;
    width: 80%;
    height: 80%;
    overflow: hidden;
    border: 6px solid var(--accent-color);
    object-fit: cover;
    aspect-ratio: 1/1;
}


@media(width > 768px){
    .navigation{
        z-index: 9999;
    }
    .navigation .head{
        width: 60%;
    }
    .head i{
        display: none;
    }
    .navigation .links{
        opacity: 1;
        transform: none;
        flex-direction: row;
        position: static;
        justify-content: space-evenly;
        z-index: 10;
        width: 40%;
        background-color: transparent !important;
    }
    .navigation .links a{
        font-size: 1.1rem;
        border-bottom: 2px solid transparent;
        opacity: 0.7;
        transition: all 0.2s ease 0s;
        position: relative;
    }
    .navigation .links a::before{
        content: '';
        height: 100%;
        position: absolute;
        width: 0;
        border-bottom: 2px solid var(--accent-color);
        transition: 0.3s ease;
    }
    .navigation .links a:hover{
        opacity: 1;
        color: var(--text-color);
    }
    .navigation .links a:hover::before{
        width: 100%;
    }
    main .hero {
        display: flex;
        flex-direction: row;
        height: auto;
        max-width: 1400px;
        padding: 0;
    }

    main .hero .text-section {
        background-color: var(--sec-color);
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2rem;
    }

    main .hero .picture-section {
        width: 60%;
        background-color: var(--accent-color);
        display: flex;
        justify-content: end;
        align-items: center;
        box-sizing: border-box;
        padding: 1.5rem;
        clip-path: polygon(35% 0, 100% 0, 100% 100%, 0 100%);
    }

    main .hero .picture-section .supporting-div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
    }

    main .hero .picture-section img {
        width: 80%;          /* consistent scaling */
        max-width: 500px;    /* never gets too big */
        height: auto;
        border-radius: 50%;
        border: 6px solid var(--sec-color); /* adjust border */
    }
    main .hero .text-section .toptext{
        display: flex;
        font-size: 3rem;
        justify-content: start;
        align-items: center;
    }
    .maintext{
        font-size: 3.8rem;
        height: fit-content;
    }
    .bottomtext{
        font-size: 1.2rem;
        line-height: 2rem;
        padding-bottom: 1rem;

    }
    .connect .tagline{
        padding-top: 2rem;
        display: flex;
        align-items: center;
    }
    .connect .buttons{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 1rem;
    }

}

@media (min-width: 768px) and (max-width: 1090px) {
    .navigation .head{
        width: 40%;
    }
    .navigation .links{
        width: 60%;
    }
    main .hero {
        flex-direction: row;   
        height: auto;
        max-width: 1200px;
        padding: 0;
    }

    main .hero .text-section {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        background-color: var(--sec-color);
    }

    main .hero .picture-section {
        width: 60%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 2rem;
        background-color: var(--accent-color);
        clip-path: polygon(35% 0, 100% 0, 100% 100%, 0 100%);
    }

    main .hero .picture-section .supporting-div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .hero .picture-section img {
        width: 80%;      
        max-width: 500px; 
        height: auto;
        border-radius: 50%;
        border: 6px solid var(--sec-color);
    }

    .maintext {
        font-size: 2.6rem;
    }
    .typed-text{
        font-size: 2.5rem;
    }
    .bottomtext {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}
