@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --main-color: #151515;
    --sec-color: #222222;
    --accent-color: #FF650D;
    --text-color: #fff;
}
img{
    display: flex;
    width: 100%;
}
a{
    text-decoration: none;
}
.navigation{
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
    padding: 1rem 0.5rem;
    display: flex;
    background-color: var(--sec-color);
}
.navigation .head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}
.navigation .head h1{
    box-sizing: border-box;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.navigation .head i{
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.2s ease-in;
}
.navigation .head i:hover{
    transform: scale(1.2);
}
.navigation .links{
    background-color: var(--sec-color);
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    top: 60px;
    left: 0;
    transform: translateY(-100%);
    box-sizing: border-box;
    padding: 0.8rem 0;
    z-index: -1;
    gap: 1rem;
    transition: 0.5s ease-out;
    opacity: 0;
}
.navigation .links a{
    color: var(--text-color);
    transition: 0.2s ease;
}
.navigation .links a:hover{
    color: var(--accent-color);
}
.navigation .links.show{
    transform: translateY(0);
    opacity: 1;
}
.navigation .links .hide{
    transform: translateY(-100%);
}

main{
    width: 100%;
    box-sizing: border-box;
    padding: 0.8rem;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
main .hero{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--sec-color);
    border-radius: 2rem;
    overflow: hidden;
}
.hero .text-section{
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    color: var(--text-color);
}

.maintext {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
}

.typed-text {
  display: inline-block;
  color: var(--accent-color);
  transition: all 0.2s ease;  
  letter-spacing: 0.5px;
}

.cursor {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
  color: var(--accent-color);
  animation: blink 0.8s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
.toptext{
  width: 100%;
  padding-bottom: 1rem;
}
.text-section .toptext span{
  font-size: 0.7rem;
  margin-right: 0.7rem;
  letter-spacing: 0.3rem;
  font-weight: 500;
}
.maintext{
  height: 35%;
  width: 100%;
  font-size: 2.8rem;
}
.maintext .name{
  color: var(--redaccent);
}
.bottomtext{
  height: 20%;
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  padding-top: 1rem;
}
.connect{
  margin-top: 1rem;
  width: 100%;  
  display: flex;
  flex-direction: column;
}
.tagline{
  height: 30%;
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: var(--accent-color);
  font-weight: 500;
}
.buttons{
    margin-top: 1.2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.buttons button, .download{
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
    transition: 0.2s ease;
}
.buttons .contact{
    background-color: transparent;
    color: var(--accent-color);
    border: 2px solid transparent;
}
.buttons .contact:hover{
    border-color: var(--accent-color);
}
.buttons .download:hover{
    background-color: #d05006;
}
.hero .picture-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;

}

.supporting-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-section img{
    border-radius: 100%;
    width: 80%;
    height: 80%;
    overflow: hidden;
    border: 6px solid var(--accent-color);
    object-fit: cover;
    aspect-ratio: 1/1;
}

.card-section{
    margin-top: 4rem;
    width: 100%;
    background-color: var(--sec-color);
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 1rem;
}
.card-section-text{
    box-sizing: border-box;
    padding: 0.6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.card-section-text-upper{
    font-size: 1.2rem;
    color: var(--accent-color);
    margin-bottom: 0.6rem;
}
.card-section-text-main{
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 1.2rem;
}
.card-section-cards{
    box-sizing: border-box;
    padding: 0.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    justify-content: center;
    gap: 2rem;
}
.card-section-cards .card{
    margin: auto;
    box-sizing: border-box;
    padding: 2rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    height: 320px;
    min-width: 300px;
    max-width: 450px;
    background-color: var(--sec-color);
    display: flex;
    flex: 1 1 300px;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: 0.2s ease-out;
    margin-bottom: 1.5rem;
    flex: 1;
}
.card-icon{
    display: flex;
    justify-content: start;
    width: 100%;
}
svg{
    height: 3rem;
    width: fit-content;
    fill: var(--accent-color);
    transition: 0.2s ease-out;
}
.card-title{
    display: flex;
    justify-content: start;
    width: 100%;
    padding-top: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-color);
    transition: 0.2s ease-out;
}
.card-text{
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 1rem 0;
    color: var(--text-color);
    line-height: 1.7rem;
    letter-spacing: 1px;
    transition: 0.2s ease-out;
}
.card:hover{
    background-color: var(--accent-color);
    color: white;
}
.card:hover > .card-icon > svg{
    transform: translateY(-1rem);
    fill: var(--text-color);
}
.card:hover > .card-title{
    transform: translateY(-1rem);
}
.card:hover > .card-text{
    transform: translateY(-1rem);
}

.project-section, .contact-section{
    margin-top: 4rem;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--sec-color);
    border-radius: 2rem;
    padding: 1rem;
}
.project-section-text, .contact-section-text{
    padding: 0.6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-section-text-upper, .contact-section-text-upper{
    font-size: 0.8rem;
    color: var(--accent-color);
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}
.project-section-text-main, .contact-section-text-main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.3rem;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.project-section-cards{
    box-sizing: border-box;
    padding: 0.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    justify-content: center;
    gap: 2rem;
    animation: 0.2s Appear;
}

.project-section-card{
    box-sizing: border-box;
    padding: 2rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    min-width: 300px;
    max-width: 450px;
    height: 400px;
    background-color: var(--sec-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: 0.2s ease-out;
    margin-bottom: 1.5rem;
    flex: 1;
    cursor: pointer;
}
.project-section-card-img{
    height: 60%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
}
.project-section-card-img img{
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: 0.2s ease;
}
.project-section-card-title{
    width: 100%;
    display: flex;
    justify-content: start;
    color: var(--accent-color);
    letter-spacing: 1px;
    font-size: 0.8rem;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
}
.project-section-card-text{
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 2rem;
    transition: 0.2s ease;
}
.project-section-card-text:hover{
    color: var(--accent-color);
}
.project-section-card:hover > .project-section-card-img img{
    transform: scale(1.2);
}


.contact-section-l-r{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.contact-section-left, .contact-section-right{
    box-sizing: border-box;
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.contact-section-left h1{
    color: var(--text-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.contact-section-left p{
    color: var(--text-color);
    text-align: center;
    line-height: 2.6rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.contact-section-left p a{
    color: var(--text-color);
    border-bottom: 2px solid transparent;
    transition: 0.2s ease;
}
.contact-section-left p a:hover{
    border-color: var(--accent-color);
    color: var(--accent-color);
}


.socials-container{
    height: 100px;
    width: 100%;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.socials-container a{
    background-color: var(--sec-color);
    padding: 1rem;
    border-radius: 100%;
    display: grid;
    place-items: center;
    box-shadow: 0px 5px 10px black;
}
.socials-container a svg{
    height: 20px;
    fill: var(--text-color);
}
.socials-container a::before{
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: var(--text-color);
    fill: var(--text-color);
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px black;
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(-42px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);

}
.socials-container a:hover > svg{
    background-color: var(--accent-color);
    background-color: var(--sec-color);
    fill: var(--accent-color);
}
.socials-container a:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}
.socials-container a:hover::after{
    transform: translateY(-43px) rotate(0);
    opacity: 1;
}

.contact-section-right form{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 80%;
}
form label{
    align-self: flex-start;
    color: var(--text-color);
    font-size: 0.8rem;
}
input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 0.6rem;
    border-radius: 0.5rem;
    accent-color: var(--accent-color);
    font-size: 0.8rem;
    font-weight: 500;
    border: 2px solid transparent;
}
form input:focus, textarea:focus{
    outline: none;
    border: 2px solid var(--accent-color);
}
form .first-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.row{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}
form button{
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-top: 1rem;
    border: none;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in;
}
form button:hover{
    transform: translateY(-5px);
}

.textAppear{
    animation: textAppear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}
.imageReveal{
    animation: imageReveal both; /*Both means that it will keep "from" state of animation before animation starts and keeps the "to" state even after the animation ends*/
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
    /* 50% means where animation will end and 20% means from where animation will start */
}
.fadeUp{
    animation: fadeUp both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}
@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(10px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
@keyframes textAppear{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: rotateY(0);
    }
}
@keyframes imageReveal{
    from{
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }
    to{
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}








@media (min-width: 768px){
    .navigation{
        z-index: 9999;
    }
    .head i{
        display: none;
    }
    .navigation .links{
        opacity: 1;
        transform: none;
        flex-direction: row;
        position: static;
        justify-content: space-evenly;
        z-index: 10;
        background-color: transparent !important;
    }
    .navigation .links a{
        font-size: 1.1rem;
        border-bottom: 2px solid transparent;
        opacity: 0.7;
        transition: all 0.2s ease 0s;
        position: relative;
    }
    .navigation .links a::before{
        content: '';
        height: 100%;
        position: absolute;
        width: 0;
        border-bottom: 2px solid var(--accent-color);
        transition: 0.3s ease;
    }
    .navigation .links a:hover{
        opacity: 1;
        color: var(--text-color);
    }
    .navigation .links a:hover::before{
        width: 100%;
    }
    main .hero {
        flex-direction: row;   
        height: auto;
        max-width: 1200px;
        padding: 0;
    }
    main .hero .text-section {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        background-color: var(--sec-color);
    }
    main .hero .picture-section {
        width: 60%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 2rem;
        background-color: var(--accent-color);
        clip-path: polygon(35% 0, 100% 0, 100% 100%, 0 100%);
    }
    main .hero .picture-section .supporting-div{
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .hero .picture-section img {
        width: 80%;      
        max-width: 500px; 
        height: auto;
        border-radius: 50%;
        border: 6px solid var(--sec-color);
    }
    .toptext{
        display: flex;
        font-size: 3rem;
        justify-content: start;
        align-items: center;
    }
    .maintext {
        height: fit-content;
    }
    .bottomtext {
        font-size: 1rem;
        line-height: 1.6rem;
        padding-bottom: 1rem;
    }
    .connect .tagline{
        padding-top: 2rem;
        display: flex;
        align-items: center;
    }
    .connect .buttons{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 1rem;
    }
    .card-section, .project-section, .contact-section{
        max-width: 1200px;
    }
    .card-section-text{
        align-items: start;
        padding-left: 2rem;
    }
    .card-section-text-upper{
        font-size: 1.6rem;
    }
    .project-section-text-upper, .contact-section-text-upper{
        font-size: 1.2rem;
    }
    .card-section-text-main, .project-section-text-main, .contact-section-text-main{
        font-size: 2.8rem;
    }
    .contact-section-left, .contact-section-right{
        width: 50%;
    }
    .contact-section-l-r{
        flex-direction: row;
    }
    .contact-section-left h1{
        font-size: 1.7rem;
    }
    .contact-section-left p{
        font-size: 1.2rem;
    }


    form .first-row{
        flex-direction: row;
        gap: 16px;
    }
    .first-row .row{
        width: 50%;
    }
    input, textarea{
        font-size: 1rem;
    }

}


@media (min-width: 768px) and (max-width: 1090px) {

    .navigation .head{
        width: 40%;
    }
    .navigation .links{
        width: 60%;
    }
    .toptext{
        font-size: 3rem;
    }
    .maintext {
        font-size: 2.6rem;
    }
    .typed-text{
        font-size: 2.5rem;
    }
    .bottomtext {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}

@media (min-width:768px) and (max-width: 785px){
    .typed-text{
        font-size: 2.4rem;
    }
}

@media(min-width: 1091px){
    .navigation .head{
        width: 60%;
    }
    .navigation .links{
        width: 40%;
    }
    main .hero {
        max-width: 1400px;
    }

    main .hero .text-section {
        justify-content: space-evenly;
    }

    main .hero .picture-section img {  
        max-width: 600px;
    }
    .maintext{
        font-size: 3.8rem;
    }
    .bottomtext{
        font-size: 1.2rem;
        line-height: 2rem;

    }
    .card-section, .project-section, .contact-section{
        max-width: 1400px;
    }
    .card-section-text-upper{
        font-size: 1.9rem;
    }
    .project-section-text-upper, .contact-section-text-upper{
        font-size: 1.4rem;
    }
    .card-section-text-main, .project-section-text-main, .contact-section-text-main{
        font-size: 3.1rem;
    }
}
